nav
{
  position: absolute;
  top: 0;
  width: 100%;
}

.menu
{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.menu > div > p
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100%/2);
}

#compte
{
  display: flex;
}
